<div class="navbar">
  <!--active-->
  <a [routerLink]="['home']" routerLinkActive = "active">Home</a> <!-- class="active"-->
  <a [routerLink]="['heroes']" routerLinkActive = "active">Heroes</a>
  <a [routerLink]="['about']" routerLinkActive = "active">About</a>

  <div class="search-container">
    <input type="text" placeholder="Buscar..." id="search" #buscarTexto (keyup.enter) = 'buscarHeroe(buscarTexto.value)'> 
    <button type="button" (click) = "buscarHeroe(buscarTexto.value)">Buscar</button>
    
  </div>
</div>